<div class="ui fixed teal inverted menu">
  <div class="item">
    <i class="home icon"></i> Gloit Component
  </div>
</div>

<div class="main-container">
  <div class="ui secondary vertical sidebar menu left uncover visible" id="toc">
    <div class="item">
      <div class="ui small header">控件</div>
      <div class="menu">
        <a class="item" href='/#/login-form'>登录表单</a>
      </div>
    </div>
  </div>

  {{outlet}}
</div>
